.ternary line.tick {
	stroke-width: 0.5;
}

.ternary line.minor-tick {
	stroke-width: 1;
	stroke-opacity:0.1;
}

.ternary .a-axis{
	stroke: #333;
}

.ternary .b-axis{
	stroke: #333;
}

.ternary .c-axis{
	stroke: #333;
}

.ternary .axis-title{
	font-family: sans-serif;
	font-size: 1.5rem;
}

.ternary text.tick-text {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 1rem;
	fill: #333;
	stroke:none;
}

.ternary circle {
	fill: #fff1e0;
	stroke: #DB7365;
	stroke-width: 2px;
}
